*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
}